@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  object-fit: cover;
}

a {
  display: inline-block;
}

.peta-container {
  position: fixed;
}

/* Styling untuk map agar tetap di posisi */
.leaflet-container {
  position: relative !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 20px;
}
